/*  document defaults  */

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #fcfcff;
  color: #503030;
}

ul {
  list-style: none;
  padding: 0;
}

/*  scrollbar  */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #a0a0a0;
}

/*  application  */

/*The library contains HTML that is cloned to create
  some of the UI. It is hidden from the user via 
  the .hidden style.
  */
.library {
  display: none;
}
.hidden {
  display: none !important;
}
.disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.attractor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1788b3;
  color: #b9d9e4;
  padding: 0.5em 1em;
  border: 1px solid #115a77;
  border-radius: 3em;
  max-width: 50vw;
  text-align: center;
  z-index: 1;
  animation: attractor 6s ease-in-out 0s infinite;
}
.attractor em {
  color: #ffffff;
}
@keyframes attractor {
  0% {
    opacity: 0;
    top: 0;
  }
  20% {
    opacity: 0;
    top: 0;
  }
  22% {
    opacity: 1;
    top: 25%;
  }
  78% {
    opacity: 1;
    top: 25%;
  }
  80% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 50%;
  }
}

/*Main application container. Margin centered, 
  two column 1000px max width for desktop and mobile
  landscape, one column for mobile portrait.
  */
.container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}
@media only screen and (max-width: 530px) {
  .container {
    flex-direction: column;
  }
}

/*The two list columns. 
  They are flex columns so the column title and 
  ticket area render one below the other. 
  */
.columnContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  margin: 0.3em;
  overflow: hidden;
  background-color: #f9fbfd;
}
/*The list column title area.
  This is a flex row so the title color icon and
  title render side by side. The icon colors are
  set by the columnContainer class (specifically 
  keyed on whether it contains "todo"/"done")/
  */
.listTitle {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em 0.5em 1em;
  user-select: none;
}
.titleColorIcon {
  width: 0.5em;
  height: 0.5em;
  margin: auto 0.2em auto 0;
  border-radius: 50%;
}
.todo .titleColorIcon {
  background-color: #ef8c4b;
  border: 1px solid #bf6f38;
}
.done .titleColorIcon {
  background-color: #67bb0f;
  border: 1px solid #4d8c0b;
}

/*The list container. An <ul> with 100% height.
  Note the ul list-style and padding resets above.
  Note the use of translateZ for scroll optimisation.
*/
.listContainer {
  height: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 0.2em;
  margin: 0 0.3em 0.3em 0.3em;
  overflow-y: auto;
  background-color: #fbfcfc;
  transform: translateZ(0);
}

/*The list item. A <li>. The main div (listItemInner 
  is arranged as a flex row. This contains a ticket 
  number (.itemNumber), an editable content area 
  (.itemContent), and three icons (.moveLeft, 
  .moveRight, .delete). 
  The list item has a variable height. 
  The min height is set by its initial content, and it
  will grow as the .itemContent gets populated.
  The maximum height is set by .itemContent > max-height.
  */
.listItem {
  border: 1px solid #d0d0d0;
  border-radius: 0.3em;
  margin: 0.3em 0.3em 0 0.3em;
  overflow: hidden;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
.listItem:last-child {
  margin-bottom: 0.3em;
}
.listItem.changeFlash {
  animation-name: changeFlash;
  animation-duration: 0.5s;
}
.listItem.addItem {
  animation-name: addItem;
  animation-duration: 0.15s;
}
.listItem.removeItem {
  animation-name: removeItem;
  animation-duration: 0.15s;
}
@keyframes changeFlash {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(90%);
  }
  100% {
    filter: brightness(100%);
    /* For some reason, Chrome loses the border bottom without the next line */
    border: 1px solid #d0d0d0;
  }
}
@keyframes addItem {
  0% {
    max-height: 0em;
  }
  100% {
    max-height: 7.5em;
  }
}
@keyframes removeItem {
  0% {
    max-height: 7.5em;
  }
  100% {
    max-height: 0;
    border-color: transparent;
    border-width: 0;
    margin-top: 0;
  }
}

.listItemInner {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.3em;
  border-radius: 0.2em;
  background-color: #f8f8f9;
}
.todo .listItemInner {
  border-left: 8px solid #f7b65b;
}
.done .listItemInner {
  border-left: 8px solid#98C06E;
}

/*The listItem number*/

.listItem .itemNumber {
  border-radius: 50%;
  min-width: 2em;
  height: 2em;
  margin: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.itemMover {
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  display: flex;
}
.done .itemMover {
  display: none;
}

.itemMover .moveUp,
.itemMover .moveDown {
  min-width: 2em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  transition: background-color 0.3s ease-in-out;
}
.itemMover .moveUp {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border: 1px solid #bf6f38;
  border-bottom: none;
  background-image: url(./resources/angle-up.svg);
}
.itemMover .moveDown {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border: 1px solid #bf6f38;
  border-top: none;
  background-image: url(./resources/angle-down.svg);
}
.itemMover .moveUp:hover,
.itemMover .moveDown:hover {
  background-color: #ec782b;
}

.todo .listItem .itemNumber {
  color: #f7eee8;
  background-color: #ef8c4b;
  border: 1px solid #bf6f38;
}
.done .listItem .itemNumber {
  color: #e1ead6;
  background-color: #67bb0f;
  border: 1px solid #4d8c0b;
}
.itemMover .moveUp,
.itemMover .moveDown {
  color: #f7eee8;
  background-color: #ef8c4b;
}

/*The listItem content.
  Note the use of translateZ for scroll optimisation. 
*/

.listItem .itemContent {
  width: 100%;
  padding: 0.3em;
  max-height: 6em;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: translateZ(0);
  min-height: 1em;
  touch-action: pan-y;
}
.listItem .itemContent.new {
  font-style: italic;
  color: #a0a0a0;
}
.listItem .itemContent:hover,
.listItem .itemContent:focus {
  overflow-y: auto;
}

/*The listItem icons*/

.listItem .iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.6em;
}
.listItem .moveLeft,
.listItem .moveRight,
.listItem .delete {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2em;
  height: 2em;
  margin-left: 0.3em;
  opacity: 0.7;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.listItem .moveLeft:hover,
.listItem .moveRight:hover,
.listItem .delete:hover {
  opacity: 1;
}
.listItem .moveLeft {
  background-image: url(./resources/arrow-circle-left.svg);
}
.listItem .moveRight {
  background-image: url(./resources/arrow-circle-right.svg);
}
.listItem .delete {
  background-image: url(./resources/times-circle.svg);
}

/*Icons arrange as rows for desktop and mobile-landscape,
  and go to column for mobile portrait.
  Between 530px and 750px, the icons get smaller for small
  width portrait.
  */

@media only screen and (min-width: 530px) and (max-width: 750px) {
  .listItem .iconContainer {
    flex-direction: column;
    margin-bottom: 0.1em;
  }
  .listItem .moveLeft,
  .listItem .moveRight,
  .listItem .delete {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.1em;
  }
}
